.cell-box {
  background-color: transparent;
  width: 0.5em;
  height: 0.5em;
  margin: 0;
  flex: '1 1 auto';
  /* margin: 1px 1px 0 0; */
}

.on {
  background-color: #d4e157;
  border-radius: 50%;
  filter: contrast(200%);
}

.off {
  background-color: transparent;
}
